@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sacramento&display=swap');
@import 'tailwindcss';

@theme {
  --color-cA4: #a4cd3a;
  --color-c9C: #9ca3af;
  --font-roboto: Roboto;
  --font-sac: Sacramento;
}
